:root {
  --black: #101214;
  --silver: #73808d;
  --container-max-width: 900px;
  --gap: 2em;
  --line-height-base: 1.4;
  --line-height-expanded: 1.6;
}

* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  font-size: 14px;
  line-height: var(--line-height-base);
  color: var(--black);
  border-top: 0.3em solid var(--black);
}

@media (max-width: 767px) {
  html {
    font-size: 12px;
  }
}

body {
  padding: 3em 1.4em;
}

.container,
.site-header,
.main-content,
.sidebar {
  /* border: 1px solid red; */
}

@media (min-width: 768px) {
  .container {
    display: grid;
    grid-template-columns: 67% 1fr;
    column-gap: 5%;
  }
}

.container {
  width: 100%;
  max-width: var(--container-max-width);
  margin: 0 auto;
}

.site-header {
  grid-column: 1 / -1;
  margin-bottom: var(--gap);
}

.section {
  margin-bottom: var(--gap);
}

.section__block {
  margin-bottom: var(--gap);
  margin-top: calc(var(--gap) / 2);
}

.section__block + .section__block {
  margin-top: 0;
}

.section__heading {
  font-size: 0.75em;
  color: var(--silver);
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.03em;
}

.section__summary {
  margin-top: 0.5em;
}

.larger {
  font-size: 1.2em;
  line-height: var(--line-height-expanded);
}

.section__block-heading {
  margin-bottom: 0;
}

*:first-child {
  margin-top: 0;
}

*:last-child {
  margin-bottom: 0;
}

.sidebar {
  color: var(--silver);
}

@media (max-width: 767px) {
  .sidebar {
    margin-top: var(--gap);
    padding-top: var(--gap);
    border-top: 1px solid var(--silver);
  }
}

.sidebar-heading {
  margin-bottom: 0.5em;
}

.sidebar-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.sidebar-list--tags {
  display: flex;
  flex-wrap: wrap;
}

.sidebar-list--tags .sidebar-list__item {
  margin-right: 0.5ch;
}

li:not(:last-child) {
  margin-bottom: 0.3em;
}
