---
layout: layouts/base.njk
---

<main class="main-content">
  <section class="section">
    <h2 class="section__heading">Profile</h2>
    <p class="larger">{{ profile.summary }}</p>
  </section>

  <section class="section">
    <h2 class="section__heading">Experience</h2>

    {% for experience in experiences %}
      <div class="section__block">
        <h3 class="section__block-heading">{{ experience.jobTitle }}, <span class="lightweight">{{ experience.organisation }}</span></h3>
        <span class="datestamp">{{ experience.startDate|monthDateFormat }} - {{ "Present" if experience.current else experience.startDate|monthDateFormat }}</span>
        <p class="section__summary">{{ experience.summary }}</p>
        {% if experience.responsibilities %}
          <ul class="section__list">
            {% for responsibility in experience.responsibilities %}
              <li>{{ responsibility }}</li>
            {% endfor %}
          </ul>
        {% endif %}
      </div>
    {% endfor %}
  </section>

  <section class="section">
    <h2 class="section__heading">Education</h2>

    {% for education in educations %}
      <div class="section__block">
        <h3 class="section__block-heading">{{ education.institution }}, <span class="lightweight">{{ education.description }}</span></h3>
        <span class="datestamp">{{ education.startDate|monthDateFormat }} - {{ education.endDate|monthDateFormat}}</span>
      </div>
    {% endfor %}
  </section>
</main>

<aside class="sidebar">
  <section class="section">
    <ul class="sidebar-list">
      <li class="sidebar-list__item">{{ profile.email }}</li>
      <li class="sidebar-list__item">{{ profile.phone }}</li>
      <li class="sidebar-list__item">{{ profile.location }}</li>
    </ul>
  </section>

  <section class="section">
    <h4 class="sidebar-heading">Skills Overview</h4>
    <ul class="sidebar-list">
      {% for skill in profile.skills %}
        <li class="sidebar-list__item">{{ skill }}</li>
      {% endfor %}
    </ul>
  </section>

  <section class="section">
    <h4 class="sidebar-heading">Tools & Technologies</h4>
    <ul class="sidebar-list sidebar-list--tags">
      {% for tool in profile.tools %}
        <li class="sidebar-list__item">{{ tool }}{{ ", " if not loop.last }}</li>
      {% endfor %}
    </ul>
  </section>

  <section class="section">
    <h4 class="sidebar-heading">Interests</h4>
    <ul class="sidebar-list sidebar-list--tags">
      {% for interest in profile.interests %}
        <li class="sidebar-list__item">{{ interest }}{{ ", " if not loop.last }}</li>
      {% endfor %}
    </ul>
  </section>

  <section class="section">
    <h4 class="sidebar-heading">Links</h4>
    <ul class="sidebar-list">
      {% for link in profile.links %}
        <li class="sidebar-list__item">
          <a href="{{ link.url }}">{{ link.name }}</a>
        </li>
      {% endfor %}
    </ul>
  </section>
</aside>